/* 전체 배경 컬러 적용, 박스 적용 */
* {
    box-sizing: border-box;
    background-color: rgba(91, 35, 134, 1);
}
/* rem계산 용이하도록, 가장 많은 폰트 속성 적용 */
html {
    font-size: 62.5%;           /* 10px적용함 */
    color: rgba(255, 255, 255, 1);
    font-family: 'GmarketSansMedium', sans-serif;
    font-weight: 400;
}

/* header (1만시간의 법칙 이미지) */

.a11y-hidden {                  /* 제목 글씨 숨기기 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
/* 헤더의 백그라운드 이미지 깔기 (시계) */
header {
    margin: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26.5rem;
    background: url(../images/clock.png) no-repeat center center;
    background-size: 26.1rem 26.5rem;
    text-align: center;
}
/* 헤더 내부에 img태그 속성주기 > 인라인요소인데 블록처럼 보여주기 */
header img {
    width: 56.4rem;
    height: 11.2rem;
    display: block;
}

/* main 구조 
    -sec1 - blockquote, div(div), ul(li)
    -sec2 - div(btn, img), div(div2)
   -sec3 - div(btn2) */

main {
    display: flex;
    flex-direction: column;
}

/* 메인-sec1 */
/* 인용구 */
.about .practice {
    font-family :'OTEnjoystoriesBA';
    font-size: 3.6rem;
    font-weight: 700;
    color: rgba(245, 223, 77, 1);
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
}
/* 1만시간법칙은 설명, 따옴표  */
.desc {
    margin: 7.8rem auto 0;
    width: 37.3rem;

    font-size: 1.8rem;
    line-height: 1.8;
    letter-spacing: 0;
    white-space: nowrap;
    text-align: center;

    /* 따옴표 양옆 배치를 위해 전체 row배열 */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* 따옴표 */
.big {
    display: inline-block;
    align-items: center;
    width: 4.6rem;
    height: 9.6rem;
    font-weight: 700;
    font-size: 9.6rem;
    color: rgba(252, 238, 33, 0.3);
        
    }
/* 일만시간 굵은 글씨 */
.strong {
    font-weight: 700;
    font-size: 2.4rem;
    }
/* 빈칸 있는 목록태그 */
.about .example {
    margin: 10.2rem auto 0;
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.7rem;
}
/* 빈칸 속성 */
.blank {
    width: 22.8rem;
    height: 5.6rem;
    margin: auto 1.7rem;
    background: rgba(255,255,255,1);
    border-radius: 0.8rem;
    text-align: center;
    border: none;
    padding: 1.2rem 4rem;
}
/* 빈칸 속성_고정값 */
input::placeholder {
    font-family: 'GmarketSansMedium';
    color: rgba(186, 188, 190,1);
    font-size: 2.4rem;
    text-align: center;
    line-height: 2.4rem;
}

/* 메인-sec2 */
/* 위 띄어쓰기, 배열을 위한 속성 */
.howto {
    margin: 11.5rem auto 0;
    position: relative;
}
/* 버튼과 이미지 (부모요소) */
.sub-title2 {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}
/* 버튼요소 */
.howmany {
    color: rgba(91, 35, 134, 1);
    font-family: 'GmarketSansMedium', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.6rem;
    white-space: nowrap;
    position: relative;
    border: none;

    background-color: rgba(252, 238, 33, 1);
    border-radius: 5.6rem;
    padding: 2.1rem 4.9rem 2.1rem 4.9rem;
    gap: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
/* 클릭 이미지 */
.click {
    width: 6.4rem;
    height: 7.2rem;

    position: absolute;
    top: 1.4rem;
    left: 100%;
}
/* 프로그래밍, 5110일 */
/* 글씨 가운데 정렬이 안됨 ㅠㅠ */
.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;

    margin-top: 14.7rem;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 100%;

    
}
.days {
    margin-top: 4.1rem;
}
.big2 {
        font-weight: 700;
        font-size: 7.2rem;
    }

/* sec3 */
.button .btn {
    margin-top: 12.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
}
/* class=btn */
.program, .share {
    color: rgba(91, 35, 134, 1);
    font-family: 'GmarketSansMedium', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.6rem;

    background-color: rgba(255,255,255,1);
    border-radius: 5.6rem;
    padding: 2.1rem 4.9rem 2.1rem 4.9rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.program {
    background-color: rgba(252, 238, 33, 1);
}


/* 모달창 */
/* 모달 창 전체 속성 */
    .modal {
        display: none;

        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: 999;
        width: 100%;
        
    }
    .modal .modal-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 80rem;
        border-radius: 2rem;
        padding: 8rem 14.6rem;
        gap: 1rem;
        border: none;
        box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.15);
        background-color: rgba(255, 255, 255, 1);
    }
/* 모달창 제목 */
    .cheers {
        margin-top: 7.6rem;
        font-family: 'OTEnjoystoriesBA';
        font-size: 9.6rem;
        font-weight: 700;
        color: rgba(91,35,134,1);
        background-color: rgba(255, 255, 255, 1);
    }
    /* 응원멘트 */
    .cheers-cont {
        margin-top: 0.4rem;
        font-family: 'OTEnjoystoriesBA';
        color: rgba(91,35,134,1);
        font-size: 3.6rem;
        font-weight: 700;
        background-color: rgba(255, 255, 255, 1);
    }
    /* 이미지 */
    .licat {
        margin: 4rem 3.5rem 6rem;
        width: 43.8rem;
        height: 34.2rem;
        background-color: rgba(255, 255, 255, 1);
    }
    /* 버튼 */
    .gotopage {
        background-color: rgba(252,238,33,1);
        border-radius: 1.2rem;
        padding: 2rem 5rem;
        gap: 1rem;
        border: none;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        width: fit-content;

        font-family:'GmarketSansMedium';
        font-size: 2.4rem;
        font-weight: 500;
        color: rgba(91,35,134,1);
    }


/* 푸터 */
footer {
    margin: 13rem auto 0;
    display: flex;
    flex-direction: column;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.weniv-logo {
    width: 12.5rem;
    height: 2.5rem;
}
.copyright {
    width: 36.5rem;
    height: 3.4rem;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 100%;
    white-space: normal;
    text-align: center;
    overflow-wrap: break-word;
    word-break: keep-all;

    margin-top: 2rem;

}

/* 모바일 반응형 */
@media screen and (max-width: 360px) {


/* 헤더 백그라운드 시계 */
header {
    margin: 6.5rem auto 0;
    height: 12.6rem;
    background-size: 12.5rem 12.5rem;
    text-align: center;
}
header img {
    width: 26.7rem;
    height: 5.3rem;
}

/* 메인-sec1 */
/* 인용구 */
.about .practice {
    font-size: 2.2rem;
    margin-top: 3.2rem;
}
.desc, .strong {
    font-size: 1.4rem;
}
.big {
    font-size: 4.8rem;
    width: 2rem;
    height: 1.8rem;
}
/* 빈칸 있는 목록태그 */
/* 반응형 양식 깨짐 모르겠음 ㅠㅠ */
.about .example {
    font-size: 1.4rem;
    gap: 1.2rem;
    vertical-align: middle;
}
.example-profession, .example-practice {
    display: flex;
    justify-content: center;
}
.blank {
    width: 15.6rem;
    height: auto;
}
/* 빈칸 속성_고정값 */
input::placeholder {
    font-size: 1.4rem;
    padding: 1.2rem 4rem;
}
/* 나는 며칠동안 어쩌구 섹션 */
.howto {
    margin: 4.9rem auto 0;
}
.howmany {
    font-size: 1.4rem;
    line-height: 1.4;
    white-space: initial;
    word-break: break-all;
    position: relative;

    width: 24rem;
    height: auto;
    padding: 2rem 5rem;
    gap: 1rem;
    border-radius: 1.2rem;
}
.click {
    width: 4.3rem;
    height: 4.8rem;
    position: absolute;
    top: 4rem;
    left: calc(100%+0.6rem);
}
/* 당신은 ~~필요합니다 */
.answer {
    margin-top: 6.4rem;
    font-size: 1.2rem;
}
.days {
    margin-top: 1.6rem;
}
.big2 {
    font-size: 2.4rem;
    font-weight: 500;
}
/* sec3 */
.button .btn {
    margin-top: 5.2rem;
}
/* class=btn */
.program, .share {
    font-size: 1.4rem;
    border-radius: 1.2rem;
    padding: 1.6rem 2.4rem;
    gap: 1rem;
}
.program {
    width: 18.6rem;
    height: 4rem;
}
.share {
    width: 9.2rem;
    height: 4rem;
}

/* 모달창 */
.modal .modal-div {
    width: 33rem;
    height: 50rem;
    padding: 4rem 4.2rem;
}
.cheers {
    width: 24rem;
    height: 7rem;
    font-size: 6.4rem;
}
.cheers-cont {
    margin-top: 0;
}
.licat {
    margin-top: 2.4rem;
    width: 24rem;
    height: 18.8rem;
}
.gotopage {
    width: 24rem;
    height: auto;

    font-size: 1.4rem;
    line-height: 1.4;
    white-space: initial;
    word-break: break-all
}

/* 푸터 */
footer {
    margin: 6rem auto 0;
}
.weniv-logo {
    width: 12.5rem;
    height: 2.8rem;
}
.copyright {
    margin-top: 1.2rem;

    font-size: 0.9rem;
}
}